
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                  &copy; <a href="https://bit.ly/2UTgih5" rel="noreferrer noopener" target="_blank">BootstrapDash</a> 
                  - coded by <a target="_blank" rel="noreferrer noopener" href="https://appseed.us">AppSeed</a>.
                </span>
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                <a target="_blank" href="https://appseed.us/admin-dashboards/flask-dashboard-corona-dark">Flask Corona Dark</a> - Free starter.
              </span>
            </div>
          </footer>
          <!-- partial -->
